.scroll-to-top-btn {
  position: fixed;
  right: 1rem;
  top: 92vh;
  width: 60px;
  height: 60px;
  border: 3px solid #6b7280;
  border-radius: 50%;
  box-sizing: border-box;
  display: grid;
  align-items: center;
  justify-items: center;

  &::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border-right: 3px solid #6b7280;
    border-top: 3px solid #6b7280;
    transform: rotate(-45deg);
    margin-top: 10px;
    box-sizing: border-box;
  }

  &:hover::before {
    animation: scrolltotop 1s infinite;
    margin-top: -15px;
  }
}

@keyframes scrolltotop {
  0% {
    transform: rotate(-45deg) translate(-15px, 15px);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: rotate(-45deg) translate(0px, 0px);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
