<div class="container">
  <ul class="grid">
    <li *ngFor="let photo of photos">
      <img [src]="photo.urls.regular" [alt]="photo.alt_description" />
    </li>
  </ul>

  <!-- Error -->
  <p *ngIf="errorMessage">{{ errorMessage }}</p>

  <!-- No error but no result -->
  <p *ngIf="photos.length === 0 && !loading && !errorMessage">
    No image available for this query
  </p>

  <!-- Loading -->
  <img
    *ngIf="loading && !errorMessage"
    class="spinner"
    src="assets/spinner.svg"
  />

  <!-- Last page reached-->
  <p *ngIf="maxPages === pageNumber && photos.length !== 0">
    No more images to display for that query.
  </p>
</div>
